<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1183934808703316</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.542877390026-35qkmgl7dav6oj65452hpm3urbvj7mc9</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Camera</key>
	<string>\</string>
	<key>FacebookAppID</key>
	<string>1183934808703316</string>
	<key>FacebookDisplayName</key>
	<string>FlowDating</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Main nib file base name (iPhone</key>
	<string>MainWindow</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>FlowDating requires Media  </string>
	<key>NSCameraUsageDescription</key>
	<string>FlowDating requires Camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>FlowDating requires GPS to track User </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>FlowDating requires GPS to track User </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FlowDating requires GPS to track User </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses your Microphone to allow Voice over IP communication with the Program Admin system</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FlowDating requires Photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>sf_compact_display_regular.ttf</string>
		<string>sf_compact_display_semibold.ttf</string>
		<string>sf_ui_display_bold.ttf</string>
		<string>sf_ui_display_light.ttf</string>
		<string>sf_ui_display_medium.ttf</string>
		<string>sf_ui_display_regular.ttf</string>
		<string>sf_ui_display_semibold.ttf</string>
		<string>sf_ui_text_regular.ttf</string>
		<string>sf_ui_text_semibold.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
